[submodule "iOSOpenDev"]
	path = iOSOpenDev
	url = git://github.com/jridgewell/iOSOpenDev.git
[submodule "ZYInstapaperActivity"]
	path = ZYInstapaperActivity
	url = git://github.com/jridgewell/ZYInstapaperActivity.git
