Package: name.ridgewell.activityloader
Name: ActivityLoader
Version: 0.1-0
Description: 
Section: PreferenceBundles
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Justin Ridgewell
dev: Justin Ridgewell
Homepage: http://jridgewell.github.com/ActivityLoader
Depiction: Add custom UIActivities to any app!
Maintainer: JRidgewell
Icon: 

