Package: name.ridgewell.activityloader
Name: ActivityLoader
Version: 0.2-0
Description: 
Section: System
Depends: firmware (>= 6.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Justin Ridgewell
dev: Justin Ridgewell
Homepage: http://jridgewell.github.com/ActivityLoader
Depiction: Add custom UIActivities to any app!
Maintainer: JRidgewell
Icon: http://jridgewell.github.com/ActivityLoader/icon.png

