Package: @@PACKAGENAME@@
Name: @@FULLPROJECTNAME@@
Depends: mobilesubstrate, name.ridgewell.activityloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome ActivityLoader Activity
Maintainer: @@USER@@
Author: @@USER@@
Section: Addons (ActivityLoader)
